$primary-color: #FE3F60;
$primary-color-hover: #f01f42;
$primary-color-active: #d80b2e;
$secondary-color: #211842;
$accent-color: #1ADDC2;
$yellow-color: #FFC600;
$violet-color: #845AF7;
$blue-color: #632AFF;

$heading-color: #1E1439;
$dark-text-color: #36314E;
$light-text-color: #ffffff;